#root {
  height: 100%;
}

.App {
  height: 100%;
}

.ee {
  color: white;
  text-decoration: none !important;
}

.settings-button {
  font-family: "Material Icons";
  font-size: 25px !important;
  background: none !important;
  border: none !important;
  display: inline-block;
  padding: 0px 10px 10px 10px;
  cursor: pointer;
  user-select: none;
}

.info {
  font-family: "Material Icons";
  font-size: 16px !important;
  src: url("fonts/MaterialIcons-Regular.ttf");
}

@font-face {
  font-family: Circular;
  src: url("fonts/PlusJakartaSans-Medium.ttf");
}
@font-face {
  font-family: Futura;
  src: url("fonts/renner-medium.otf");
}

@font-face {
  font-family: CardoRegular;
  src: url("fonts/Cardo-Regular.ttf");
}

@font-face {
  font-family: CardoItalic;
  src: url("fonts/Cardo-Italic.ttf");
}

@font-face {
  font-family: Product;
  src: url("fonts/Product.ttf");
}

.buttons:hover {
  opacity: 1;
}

.buttons {
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 0.38) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(5%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0.38))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 0.38) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 0.38) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 0.38) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 0.38) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

  opacity: 0.1;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  transition: color 0.5s ease, opacity 0.5s ease;
}

.flex-container {
  height: 100%;
  margin: 0;
  padding: 50px 40px;
  display: flex;
}

.widget {
  height: fit-content;
}

.half-select-box {
  display: flex;
}

.half-select {
  width: 100%;
}

.background-layer {
  transition: background 0.5s ease, filter 1.5s ease;
  background-size: cover !important;
  background: black;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -2;
}

.tint-layer {
  opacity: 1;
  transition: opacity 1.5s ease, background 1.5s ease;
  background: black;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

.ampm {
  font-size: 64px;
  font-weight: bolder;
  padding-left: 14px;
}

@keyframes wobblebar-loader {
  0% {
    left: 4px;
  }
  3% {
    left: 104px;
  }
  6% {
    left: 4px;
  }
  9% {
    left: 104px;
  }
  12% {
    left: 4px;
  }
  15% {
    left: 104px;
  }
  18% {
    left: 32px;
  }
  27% {
    left: 32px;
  }
  30% {
    left: 104px;
  }
  33% {
    left: 4px;
  }
  36% {
    left: 104px;
  }
  39% {
    left: 4px;
  }
  42% {
    left: 104px;
  }
  45% {
    left: 4px;
  }
  48% {
    left: 104px;
  }
  51% {
    left: 52px;
  }
  63% {
    left: 52px;
  }
  66% {
    left: 4px;
  }
  69% {
    left: 104px;
  }
  72% {
    left: 4px;
  }
  75% {
    left: 104px;
  }
  78% {
    left: 4px;
  }
  81% {
    left: 104px;
  }
  84% {
    left: 72px;
  }
  94% {
    left: 72px;
  }
  97% {
    left: 104px;
  }
}
/* :not(:required) hides this rule from IE9 and below */
.wobblebar-loader:not(:required) {
  background: #aaa;
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  width: 128px;
  height: 2px;
  position: relative;
}
.wobblebar-loader:not(:required)::after {
  animation: wobblebar-loader 15000ms infinite ease;
  background: white;
  display: block;
  content: "";
  position: absolute;
  top: 0.1px;
  left: 4px;
  width: 42.33333px;
  height: 10px;
}

.datepicker {
  padding: 13px;
  background: #f7f7f9;
  margin-bottom: 10px;
}

.react-datetime-picker__wrapper {
  border: none !important;
  color: #55595c !important;
}
.react-datetime-picker__inputGroup__input {
  color: #55595c !important;
}
.spinner-wrap {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  margin-bottom: 2px;
  opacity: 0.7;
}

.modal-backdrop.show {
  opacity: 0 !important;
}

.dots {
  background: transparent;
  background-image: radial-gradient(#ffffff57, 1px, transparent 0);
  background-size: 30px 30px;
}

@media only screen and (min-device-width: 1024px) {
  .modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.6rem;
    outline: 0;
    border: none !important;
    margin: 32px;
    box-shadow: rgb(0 0 0 / 30%) -9px 12px 20px 1px;
    opacity: 0.95;
    position: fixed !important;
    right: -2px;
    width: 363px !important;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
  }
}

.toggle-button {
  color: #212529;
  font-family: "Material Icons";
  font-size: 20px !important;
  display: inline-block;
  cursor: pointer;
  padding: 0px 18px;
  user-select: none;
}

.modal-button-row {
  text-align: center;
  width: 100%;
  padding: 17px;
}

.not-allowed {
  cursor: wait;
}

.rc-slider-track {
  background: #212529 !important;
}

.rc-slider-handle {
  border: solid 2px #212529 !important;
  border-radius: 0% !important;
  background-color: #212529 !important;
  width: 5px !important;
}
.rc-slider {
  padding: 16px 0px !important;
}

.modal-title {
  padding-left: 17px;
}

.modal-header > button {
  padding-right: 30px;
  padding-top: 22px;
}
