@font-face {
    font-family: JakartaSans;
    src: url("fonts/PlusJakartaSans-Medium.ttf");
  }
  @font-face {
    font-family: Renner;
    src: url("fonts/futura\ medium\ bt.ttf");
  }
  
  @font-face {
    font-family: CardoRegular;
    src: url("fonts/Cardo-Regular.ttf");
  }
  
  @font-face {
    font-family: CardoItalic;
    src: url("fonts/Cardo-Italic.ttf");
  }
  
  @font-face {
    font-family: Product;
    src: url("fonts/Product.ttf");
  }
  
  @font-face {
    font-family: Circular;
    src: url("fonts/Circular.ttf");
  }

  @font-face {
    font-family: DINMediumRegular;
    src: url("fonts/DIN-MR.ttf");
  }

  @font-face {
    font-family: Inter;
    src: url("fonts/Inter.ttf");
  }
  